@font-face {
    font-family: mainFont;
    src: url(../fonts/Rambla/Rambla-Regular.ttf);
}

body{
    font-family: mainFont;
}

ul{
    list-style-type: none;
}

.breadcrumb{
	margin-top: 20px;
	margin-bottom: 0px;
}

/* Main page */

#search-icon{
	height : 20px;
	width : 20px;
}

#paginator{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width : 250px;
}

#search-bar{
	display: inline-block;
	width: auto;
	vertical-align: middle;
	height: 34px;
	font-size: 14px;
	line-height: 1.42857143;
	padding-left : 5px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: none;
}

#app-store-pic{
	height : 150px;
	width : 150px;
}

.lightblue{
	color: #6cadd1;
	font-weight: bold;
}

.col-title{
	text-align: center;
	font-size: 25px;
}

#header{
	background-color: #eee;
	color : #666;
	padding-top : 20px;
	padding-bottom : 20px;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}

#header-title{
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

#header-sub{
	font-size: 18px;
}

.top-list-div{
	margin-top: 20px;
	margin-bottom: 20px;
}

.top-list-logo{
	width: 30px;
	height: 30px;
}

.top-list-header{
	border-bottom : solid #6cadd1 1px;
	padding-bottom: 5px;
}

.top-list-name{
	font-size: 12px;
	margin-top: 6px;
}

.top-list-category{
	font-size: 10px;
}

.top-list-link{
	font-size: 11px;
}

.top-list-value{
	margin-top: 1px;
	font-size: 12px;
}

.top-list-icons{
	width: 20px;
	height: 20px;
}

.top-list-subrow{
	margin-top: 3px;
	margin-bottom: 3px;
}

.top-list-rank{
	margin-top: 4px;
}

.article-div{
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.article-div:hover{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	border-color : white;
}

.article-picture{
	width: 80px;
	height: 80px;
}

.article-row-header{
	margin-bottom: 10px;
}

.article-subrow{
	margin-top: 3px;
	margin-bottom: 3px;
}

.article-icons{
	width: 20px;
	height: 20px;
}

.article-link{
	font-size: 12px;
}

.article-value{
	margin-top: 1px;
	font-size: 12px;
}

.article-date{
	color : #ccc;
}

/* Article page */

.main-article-row-header{
	margin-bottom: 10px;
}

.main-article-subrow{
	margin-top: 5px;
	margin-bottom: 5px;
}

.main-article-icons{
	width: 20px;
	height: 20px;
}

.main-article-link{
	font-size: 13px;
}

.main-article-value{
	font-size: 13px;
}

.main-article-date{
	color : #ccc;
}

.main-article-pic{
	width: 100px;
	height: 100px;
}