<ol class="breadcrumb" ng-init="init()">
  <li><a href="/">Articles</a></li>
  <li>{{bundle.article.name}}</li>
</ol>

<h1>{{bundle.article.name}}</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<img class="main-article-pic" src="img/app-logo-1.jpg" alt="">
		</div>
		<div class="col-md-9">
			<div class="row main-article-subrow">
				<div class="col-md-1">
				  <img src="img/coin.svg" alt="" class="main-article-icons">
				</div>
				<div class="col-md-8">
				  <div class="main-article-value">{{bundle.article.price}}</div>
				</div>
			</div>
			<div class="row main-article-subrow">
				<div class="col-md-1">
				  <img src="img/app-store-icon.svg" alt="" class="main-article-icons">
				</div>
				<div class="col-md-8">
				  <a href="#" class="main-article-link">AppStore : {{bundle.article.name}}</a>
				</div>
			</div>

			<div class="row main-article-subrow">
				<div class="col-md-1">
				  <img src="img/category.svg" alt="" class="main-article-icons">
				</div>
				<div class="col-md-8">
				  <a href="category/{{getCategory(bundle.article)}}" class="main-article-link">{{getCategory(bundle.article)}}</a>
				</div>
			</div>
		</div>
	</div>
</div>



<h2>Description</h2>

{{bundle.article.description}}

<h2>Analysis</h2>

{{bundle.article.analysis}}

<h2>In a nutshell</h2>

<div> 
  <div class="row">
    <div class="col-md-6">
    	<ul>
    		<li ng-repeat="pro in bundle.pros">+ {{pro.content}}</li>
    	</ul>
    </div>
    <div class="col-md-6">
    	<ul>
    		<li ng-repeat="con in bundle.cons">- {{con.content}}</li>
    	</ul>
    </div>
  </div>
</div>