<ol class="breadcrumb">
  <li><a href="#">Articles</a></li>
  <li><a class="active">Twitter</a></li>
</ol>

<h1>Twitter</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<img class="main-article-pic" src="img/app-logo-1.jpg" alt="">
		</div>
		<div class="col-md-9">
			<div class="row main-article-subrow">
				<div class="col-md-1">
				  <img src="img/coin.svg" alt="" class="main-article-icons">
				</div>
				<div class="col-md-8">
				  <div class="main-article-value">Free</div>
				</div>
			</div>
			<div class="row main-article-subrow">
				<div class="col-md-1">
				  <img src="img/app-store-icon.svg" alt="" class="main-article-icons">
				</div>
				<div class="col-md-8">
				  <a href="#" class="main-article-link">AppStore : Twitter</a>
				</div>
			</div>

			<div class="row main-article-subrow">
				<div class="col-md-1">
				  <img src="img/category.svg" alt="" class="main-article-icons">
				</div>
				<div class="col-md-8">
				  Social Netoworking
				</div>
			</div>
		</div>
	</div>
</div>



<h2>Description</h2>

Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris, alente inpunitate adulescentem in peius audaciam ad bella gravia proruperunt, diu quidem perduelles spiritus inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant, quod eorum capiti quidam consortes apud Iconium Pisidiae oppidum in amphitheatrali spectaculo feris praedatricibus obiecti sunt praeter morem.

Iam virtutem ex consuetudine vitae sermonisque nostri interpretemur nec eam, ut quidam docti, verborum magnificentia metiamur virosque bonos eos, qui habentur, numeremus, Paulos, Catones, Galos, Scipiones, Philos; his communis vita contenta est; eos autem omittamus, qui omnino nusquam reperiuntur.

<h2>Analysis</h2>

Iam virtutem ex consuetudine vitae sermonisque nostri interpretemur nec eam, ut quidam docti, verborum magnificentia metiamur virosque bonos eos, qui habentur, numeremus, Paulos, Catones, Galos, Scipiones, Philos; his communis vita contenta est; eos autem omittamus, qui omnino nusquam reperiuntur.

Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine, vergentem in mare, valido muro firmatum, ubi conduntur nunc usque commeatus distribui militibus omne latus Isauriae defendentibus adsueti. circumstetere igitur hoc munimentum per triduum et trinoctium et cum neque adclivitas ipsa sine discrimine adiri letali, nec cuniculis quicquam geri posset, nec procederet ullum obsidionale commentum, maesti excedunt postrema vi subigente maiora viribus adgressuri.

<h2>In a nutshell</h2>

<div> 
  <div class="row">
    <div class="col-md-6">
    	<ul>
    		<li>+ loremlorem</li>
    		<li>+ loremlorem</li>
    		<li>+ loremlorem</li>
    	</ul>
    </div>
    <div class="col-md-6">
    	<ul>
    		<li>- loremlorem</li>
    		<li>- loremlorem</li>
    	</ul>
    </div>
  </div>
</div>