
<div class="article-div"> 
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h2>Twitter</h2>
    </div>
  </div>          
  <div class="row article-row-header">
    <div class="col-md-2 col-md-offset-1">                  
      <img class="article-picture" src="img/app-logo-1.jpg" alt="">
    </div>
    <div class="col-md-9">

      <div class="row article-subrow">
        <div class="col-md-1">
          <img src="img/coin.svg" alt="" class="article-icons">
        </div>
        <div class="col-md-8">
          <div class="article-value">Free</div>
        </div>
      </div>

      <div class="row top-article-subrow">
        <div class="col-md-1">
          <img src="img/app-store-icon.svg" alt="" class="article-icons">
        </div>
        <div class="col-md-8">
          <a href="#" class="article-link">AppStore : Twitter</a>
        </div>
      </div>

      <div class="row top-article-subrow">
        <div class="col-md-1">
          <img src="img/article.svg" alt="" class="article-icons">
        </div>
        <div class="col-md-8">
          <a href="#" class="article-link">Article : Twitter</a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <span class="article-date">1/2/2015</span>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci ... <a href="#">Read More</a></span>
    </div>
  </div>

</div>

<div class="article-div"> 
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h2>Twitter</h2>
    </div>
  </div>          
  <div class="row article-row-header">
    <div class="col-md-2 col-md-offset-1">                  
      <img class="article-picture" src="img/app-logo-1.jpg" alt="">
    </div>
    <div class="col-md-9">

      <div class="row article-subrow">
        <div class="col-md-1">
          <img src="img/coin.svg" alt="" class="article-icons">
        </div>
        <div class="col-md-8">
          <div class="article-value">Free</div>
        </div>
      </div>

      <div class="row top-article-subrow">
        <div class="col-md-1">
          <img src="img/app-store-icon.svg" alt="" class="article-icons">
        </div>
        <div class="col-md-8">
          <a href="#" class="article-link">AppStore : Twitter</a>
        </div>
      </div>

      <div class="row top-article-subrow">
        <div class="col-md-1">
          <img src="img/article.svg" alt="" class="article-icons">
        </div>
        <div class="col-md-8">
          <a href="#" class="article-link">Article : Twitter</a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <span class="article-date">1/2/2015</span>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci ... <a href="#">Read More</a></span>
    </div>
  </div>

</div>