<h1 class="col-title">Categories</h1>
<div>
     <div><a href="#">Books</a></div>
     <div><a href="#">Business</a></div>
     <div><a href="#">Catalogs</a></div>
     <div><a href="#">Education</a></div>
     <div><a href="#">Entertainment</a></div>
     <div><a href="#">Finance</a></div>
     <div><a href="#">Food & Drink</a></div>
     <div><a href="#">Games</a></div>
     <div><a href="#">Health & Fitness</a></div>
     <div><a href="#">Lifestyle</a></div>
     <div><a href="#">Medical</a></div>
     <div><a href="#">Music</a></div>
     <div><a href="#">Navigation</a></div>
     <div><a href="#">News</a></div>
     <div><a href="#">Photo & Video</a></div>
     <div><a href="#">Productivity</a></div>
     <div><a href="#">Reference</a></div>
     <div><a href="#">Social Networking</a></div>
     <div><a href="#">Sports</a></div>
     <div><a href="#">Travel</a></div>
     <div><a href="#">Utilities</a></div>
     <div><a href="#">Weather</a></div>
</div> 