<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span class="lightblue">I</span>phone 
            <span class="lightblue">A</span>pps 
            <span class="lightblue">W</span>orld</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">  
           
          </ul>
          
          <ul class="nav navbar-nav navbar-right">                
            <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <a ng-href="search/{{search}}"><img id="search-icon" src="img/search.svg"></a>
              <input ng-enter="enterSearch(search)" type="text" id="search-bar" ng-model="search" placeholder="Search">
            </div>
          </form>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>