<!-- Twitter -->
<div class="top-list-div"> 
  <div class="row top-list-header">
    <div class="col-md-1 top-list-rank">
      1
    </div>
    <div class="col-md-2">
      <img src="img/app-logo-1.jpg" class="top-list-logo" alt="">
    </div>
    <div class="col-md-4">
      <div class="top-list-name">Twitter</div>
    </div>
    <div class="col-md-4">
      <div class="top-list-category"><span>Social Networking</span></div>
    </div>
   </div> 

   <div class="row top-list-subrow">
    <div class="col-md-2">
      <img src="img/coin.svg" alt="" class="top-list-icons">
    </div>
    <div class="col-md-8">
      <div class="top-list-value">28$</div>
    </div>
  </div>
  
  <div class="row top-list-subrow">
    <div class="col-md-2">
      <img src="img/app-store-icon.svg" alt="" class="top-list-icons">
    </div>
    <div class="col-md-8">
      <a href="#" class="top-list-link">AppStore : Twitter</a>
    </div>
  </div>

  <div class="row top-list-subrow">
    <div class="col-md-2">
      <img src="img/article.svg" alt="" class="top-list-icons">
    </div>
    <div class="col-md-8">
      <a href="article/1" class="top-list-link">Article : Twitter</a>
    </div>
  </div>

</div>

<!-- Snapchat -->
<div class="top-list-div"> 
  <div class="row top-list-header">
    <div class="col-md-1 top-list-rank">
      2
    </div>
    <div class="col-md-2">
      <img src="img/app-logo-2.jpg" class="top-list-logo" alt="">
    </div>
    <div class="col-md-4">
      <div class="top-list-name">Snapchat</div>
    </div>
    <div class="col-md-4">
      <div class="top-list-category"><span>Social Networking</span></div>
    </div>
   </div> 

   <div class="row top-list-subrow">
    <div class="col-md-2">
      <img src="img/coin.svg" alt="" class="top-list-icons">
    </div>
    <div class="col-md-8">
      <div class="top-list-value">Free</div>
    </div>
  </div>
  
  <div class="row top-list-subrow">
    <div class="col-md-2">
      <img src="img/app-store-icon.svg" alt="" class="top-list-icons">
    </div>
    <div class="col-md-8">
      <a href="#" class="top-list-link">AppStore : Snapchat</a>
    </div>
  </div>

  <div class="row top-list-subrow">
    <div class="col-md-2">
      <img src="img/article.svg" alt="" class="top-list-icons">
    </div>
    <div class="col-md-8">
      <a href="article/1" class="top-list-link">Article : Snapchat</a>
    </div>
  </div>

</div>